<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatShare</title>
    <link rel="icon" href="/static/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Exo:400,700" rel="stylesheet">
</head>

<body>
    <div class="area">
        <div class="circles">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="context">
        <h4>May 17, 2024</h4>
        <h1>JM's First Deployment</h1>
        <br>
      
        <h4>Taking Your Flask Project Beyond Localhost!</h4>
        <br>
        <br>
        <a href="{{url_for('calculator')}}"><h3>Calculator</h3></a>   
    </div>
    
</body>

</html>